raw_wikipedia_tables/
cleaned_presidentielle1988/
cleaned_presidentielle1995/
cleaned_presidentielle2002/
cleaned_presidentielle2007/
cleaned_presidentielle2012/
cleaned_presidentielle2017/
cleaned_presidentielle2022/
resultats_presidentielles.json